/*  your css code here. If applicable */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#submit{
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
}
.game-board{
  display: none;
}
.game-board h2{
  text-align: center;
}
.bord{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cell{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  background-color: #f0f0f0;
}
.cell:hover{
  background-color: #e0e0e0;
}